body{
    box-sizing: border-box;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    padding: 20px;
    background-color: white;
    max-width: 600px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
.login-form{
    width: 500px;
    margin: 0 auto;
}
.login-form h3{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}
.input-group{
    margin-bottom: 15px;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
    color: #666;
}
.input-group input{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;

}
.input-group input:focus{
    outline-color: rgba(23, 104, 225, 0.841);
}
.loginBtn{
    background-color: rgba(23, 104, 225, 0.841);
    color: white;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}
.loginBtn:hover{
    background-color: #1748a0;
    transform: scaleX(1.01);
}
.actions{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em;
}
.actions input[type="checkbox"] {
    margin-right: 5px;
}
